####################################
# Python
####################################
__pycache__/
*.py[cod]
*$py.class

####################################
# Virtual Environments
####################################
venv/
.env/
.venv/

####################################
# Jupyter Notebook
####################################
.ipynb_checkpoints/

####################################
# VS Code / Editor
####################################
.vscode/

####################################
# OS files
####################################
.DS_Store
Thumbs.db

####################################
# Data (raw & processed)
# (COMMENT these out if you WANT to version data)


####################################
# Results & Outputs
####################################

####################################
# Temporary / cache
####################################
.cache/
*.log

####################################
# Environment configs
####################################
environment/.env


Data/